:root{
    --roxo: #E02B53;
    --branco:#ffffff;
}



body{
    background-color: var(--roxo);
    font-size: 40px;
    font-style: oblique;
}

/* comentários */

img{
width: 10%;

}

header{
    background-image: url(./Captura\ de\ tela\ 2024-04-08\ 082541.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    background-size: 100% 100%;
    height: 264px;
   
}
#intro{
    display: flex;
    background-color: var(--branco);
    border: dashed 3px black;
    margin: 10px;
   padding: 10px;

}
.img-confeitaria{
    width: 70%;
    

}

#saborhmmm{
text-align: center;

}

.meooww{
display: grid;
grid-template-columns: 50% 50%;
}

.ft-integrantes{
width: 40%;

}

footer{
background-color: #ffffff;
color: #000000;
font-size: 18px;
}


.esp{
    padding-right: 36%;
    color: #E02B53;
}

